@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Updock&display=swap');


:root{
    --fonte-titulo: "Updock", cursive;
    --fonte-titulo-2: "Edu AU VIC WA NT Guides";
    --fonte-texto: "Afacad Flux", sans-serif;
    --preto: #000814ff;
    --azul-escuro: #001d3dff;
    --azul: #003566ff;
    --cinza: rgb(170, 180, 212);
    --verde: #307473ff;
    --verde-claro: #12664fff;
    --verde-azulado: #2dc2bdff;
    --branco: #ffffff;
}

body {
    font-family: var(--fonte-texto);
    font-weight: bolder;
    color: var(--preto);
    background-color: var(--cinza);
    
}

h1,h3{
    font-family: var(--fonte-titulo);
    font-size: 2.9em;
}

.card{
    background-color: var(--verde-azulado);
}

.modal-header{
    color: var(--preto);
    font-family: var(--fonte-texto);
    background-color: var(--verde-azulado);
}

.modal-body {
    color: var(--preto);
    font-family: var(--fonte-texto);
    background-color: var(--verde-claro);
}

.modal-footer{
    font-family: var(--fonte-titulo);
    background-color: var(--verde-azulado);
    color: var(--branco);
}
.modal-footer a {
    color: var(--branco);
}

.btn{
    color: var(--branco);
    background-color: var(--azul-escuro);
    text-decoration: none;
}

.btn:hover{
    background-color: var(--verde-claro);
    transition: 0.5s;
}

a {
    text-decoration: none;
    font-size:  1.6em;
    color: var(--verde);
}

h2 {
    font-size: 1.7em;
    font-family: var(--fonte-titulo-2);
}
